<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/css/first.css">
    <script src="./public/js/index.js"></script>
    <script src="./public/js/jquery-3.2.1.js"></script>
    <title>KTV首页</title>
</head>
<body>
    <div class="top">
        <img src="./public/img/dingwei_03.png" alt="">
        <div class="place">
            <span>南京</span>
            <img src="./public/img/index_xian_03.png" alt="">
        </div>
    </div>
    <div class="middle">
        <img src="./public/img/zi_02.png" alt="">
    </div>
    <div class="bottom">
        <a href="/index.php/Music/index"><img src="./public/img/index_diange.png" alt=""></a>
        <a href="/index.php/Game/index"><img src="./public/img/index_game.png" alt=""></a>
        <a href="/index.php/Store/index"><img src="./public/img/index_store.png" alt=""></a>
        <a href="/index.php/My/index"><img src="./public/img/index_main.png" alt=""></a>
    </div>
</body>
</html>