<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>歌手</title>
    <link rel="stylesheet" href="css/kge.css">
    <script src="js/index.js"></script>
</head>
<body>
    <div class="top">
        <div class="back">
            <a href="../index.html"><img src="img/icon_03.png" alt=""></a>
        </div>
    </div>
    <div class="title">
        <span>你还要我怎样——薛之谦</span>
        <span>··TO LOVE VIDEO··</span>
    </div>
    <div class="main">
            <div class="pic">
                <img src="img/kgepic_03.png" alt="">
                <img src="img/kebtn_03.png" class='btnn' alt="">
            </div>
            <h4>你还要我怎样——薛之谦~</h4>
        <div class="fenge">
            <img src="img/kge_03.png" alt="">
        </div>
            <p>留住时尚的影子，把街拍变成插画。留住时尚的影子，把街拍变成插画。</p>
            <div class="canyu">
                <div class="diange">
                    <img src="img/kge_06.png" alt="">
                    32947参与
                </div>
                <div class="diange">
                    <img src="img/kge_08.png" alt="">
                    92478点歌
                </div>
            </div>
            <div class="bottom">
                <img src="img/kgepic_13.png" alt="">
                <img src="img/kgepic_15.png" alt="">
                <img src="img/kgepic_17.png" alt="">
            </div>
            <div class="button">
                <div class="btn1">点歌</div>
                <div class="btn1">PK</div>
            </div>
    </div>

    <ul class="dot">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>



</body>
</html>