<?php include 'APP/view/Admin_Header.html'; ?>
<script src="../../public/js/singerInfo_admin.js"></script>

<div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
        <ul class="nav bs-docs-sidenav">
            <li>
                <a href="javascript:void(0)">音乐管理</a>
                <ul class="nav">
                    <li><a id='fenlei' href="/index.php/singer_admin/index">分类管理</a></li>
                    <li><a href="/index.php/MusicAdmin/index">歌手管理</a></li>
                    <li class="active"><a href="/index.php/singerInfo_admin/index">歌曲管理</a></li>
                    <!--<li><a href="#dropdowns-divider">歌单管理</a></li>-->
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!--<?php include 'public/slidebar.html'; ?>-->

<div class="col-md-10" role="main">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#add" id="add_tab">增加歌曲</a></li>
        <li role="presentation"><a href="#list" id="list_tab">歌曲列表</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="add">
            <div class="top">
                <div class="panel panel-primary">
                    <div class="panel-heading">歌曲管理</div>
                    <div class="panel-body">
                        <form id="form" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">歌曲</label>
                                <input type="text" name='name' autocomplete="off" class="form-control"
                                       id="exampleInputEmail1"
                                       placeholder="歌曲">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">地址</label>
                                <input type="text" name='src' class="form-control" id="exampleInputEmail4"
                                       placeholder="地址">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">时长</label>
                                <input type="text" name='duration' autocomplete="off" class="form-control"
                                       id="exampleInputEmail2"
                                       placeholder="duration">
                            </div>
                            <div class="form-group" style="flex-wrap: wrap">
                                <label for="exampleInputPassword1" style="width: 23%;">歌手</label>
                                <input type="hidden" name="aid" value="">
                                <input type="text" class="form-control singers" autocomplete="off"
                                       id="exampleInputPassword1"
                                       placeholder="1" style="width: 77%;">
                                <div class="well result"
                                     style="width: 77%;margin-left: 23%;margin-top: 10px;display:flex;flex-wrap: wrap"></div>
                                <div class="well history"
                                     style="width: 77%;margin-left: 23%;display:flex;flex-wrap: wrap"></div>
                            </div>
                            <button type="submit" class="btn btn-default">添加</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="list">
            <div class="content">
                <div class="panel panel-primary">
                    <div class="panel-heading">数据信息</div>
                    <div class="panel-body">
                        <div class="bs-example" data-example-id="bordered-table">
                            <table class="table table-bordered" style="text-align: center">
                                <thead>
                                <tr>
                                    <th style="text-align: center">id</th>
                                    <th style="text-align: center">歌曲</th>
                                    <th style="text-align: center">歌曲地址</th>
                                    <th style="text-align: center">时长</th>
                                    <th style="text-align: center">歌手</th>
                                    <th style="text-align: center">
                                        <nobr>操作</nobr>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>