
<div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
        <ul class="nav bs-docs-sidenav">
            <li>
                <a href="javascript:void(0)">音乐管理</a>
                <ul class="nav">
                    <li class="active"><a id='fenlei' href="/index.php/singer_admin/index">分类管理</a></li>
                    <li><a href="/index.php/MusicAdmin/index">歌手管理</a></li>
                    <li><a href="/index.php/singerInfo_admin/index">歌曲管理</a></li>
                    <li><a href="#dropdowns-divider">歌单管理</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>