<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店-发现</title>
    <link rel="stylesheet" href="../../public/css/submit.css">
    <script src="../../public/js/submit.js"></script>
    <script src="../../public/js/jquery-3.2.1.js"></script>
</head>
<body>
<div class="top">
    <div class="back">
        <a href="/index.php/Store/index"><img src="../../public/img/icon_03.png" alt=""></a>
    </div>
    <span>·0806房间已选商品·</span>
    <div class="you">
        <!--<a href="#">共26首</a>-->
    </div>
</div>
<div class="nummer">
    <p>共<span class="water">26</span>件</p>
</div>

<div class="main">
    <ul class="content">
        <!--<?php foreach($data as $v):?>
        <li class="lists">
            <div class="pic">
                <img src="<?php echo $v['pic']?>" alt="">
            </div>
            <ul class="text">
                <li class="name"><?php echo $v['name']?></li>
                <li class="ml">350ml</li>
                <li class="num-rmb">
                    <div class="numleft">
                        <span class="minus"></span>
                        <span class="num">3</span>
                        <span class="add"></span>
                    </div>
                    <div class="price">9.8</div>
                    <div class="pic"></div>
                </li>
            </ul>
        </li>
        <?php endforeach; ?>-->

    </ul>
    <div class="total">
        <div class="left"></div>
        <div class="division"></div>
        <div class="right">
            <div class="sum">
                <p>总价</p>
                <p>RMB</p>
            </div>
            <div class="prices">0.00</div>
        </div>
    </div>
    <a href="/index.php/Store/success" class="confirm">确认提交</a>

</div>

</body>
</html>