<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店-发现</title>
    <link rel="stylesheet" href="../../public/css/success.css">
    <script src="../../public/js/index.js"></script>
</head>
<body>
    <div class="main">
        <h1>提交成功</h1>
        <div class="content">
            <div class="center">
                <img src="../../public/img/tjcg.png" alt="">
                <p>恭喜您已提交成功</p>
            </div>
            <a href="/" class="bottom">返回点歌</a>
        </div>
    </div>


</body>
</html>