@import "mixin";

@include rem();

a, input, form, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -user-select: none;
  max-height: 9999999px;
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input {
  border: none;
  outline: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  -webkit-ovflow-scrolling: touch;
  ovflow-scrolling: touch;
  background-image: url('../img/index_bg.png');
  background-size: 100%;
}

.back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.top {
  position: absolute;
  left: 0.25rem;
  top: 0.59rem;
  height: 0.42rem;
  width: 100%;
  /*background: #f40;*/
  display: flex;
  justify-content: flex-start;
}

.top > img {
  width: 0.3rem;
  height: 100%;
}

.place {
  width: 0.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.24rem;
  margin-left: 0.08rem;
}

.place > img {
  width: 0.5rem;
  height: 0.03rem;
  margin-top: 0.02rem;
}

.middle {
  position: absolute;
  top: 4.69rem;
  left: 0;
}

.middle > img {
  width: 6.6rem;
  height: 3.65rem;
}

.bottom {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8.24rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    width: 3.4rem;
    height: 2.3rem;
    margin: 0 0.13rem 0.22rem 0.13rem;
    img {
      width: 100%;
      height: 100%;
    }

  }
}





















